
/* press-start-2p-regular - latin */
/* import a more fun font from fonts folder */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/press-start-2p-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/press-start-2p-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/press-start-2p-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/press-start-2p-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/press-start-2p-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/press-start-2p-v9-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
  }

/* Ideally this css file, if it gets larger, would be broken out. 
As an app grows, it is better to modularize everything, so not just one
blanket CSS file but multiple for differently styled components*/
html { font-family: 'Press Start 2P'; font-size: 12px; background: #eee; padding: 1rem; }
p.tab {margin-left: 0.5em;}
body { max-width: 1280px; margin: 0 auto; background: white; }
h1 { font-family: 'Press Start 2P'; font-size: 30px; color: #377ba8; margin: 1rem 0; }
h2 { font-family: 'Press Start 2P'; font-size: 24px; color: #377ba8; margin: 1rem 0; }
h3 { font-family: 'Press Start 2P'; font-size: 18px; color: #377ba8; margin: 1rem 0; }
h4 { font-family: 'Press Start 2P'; font-size: 14px; color: #377ba8; margin: 1rem 0; }
h5 { font-family: 'Press Start 2P'; font-size: 13px; color: #377ba8; margin: 1rem 0; }
hr { background: black; height: 3px; border: none}
hr.article { background: black; height: 1px; border: none}
a { color: #377ba8; }
button { font-family: 'Press Start 2P'; font-size: 12px; background: #eee; display: block; padding: 0.5rem; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 5; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { font-family: 'Press Start 2P'; font-size: 14px; margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea, .content button { font-family: 'Press Start 2P'; font-size: 14px; margin-bottom: 1em; }
.active, .btn:hover {background-color: #377ba8; color: white;}
.cropnowrap {width:13em;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}​
.cropwrap {width:13em;overflow:hidden;text-overflow: ellipsis;}​
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
.column {float: left; width: 14%; padding: 0px; border-style: solid;}
.column_user {float: left; width: 49%; padding: 0px; border-style: solid;}
/* Clear floats after the columns */
.row:after {content: ""; display: table; clear: both;}
input[type=submit] { align-self: start; min-width: 10em; }
input[type=button] { align-self: start; min-width: 10em; }

/* CSS Styling for our dropdown menu, when hovering over username*/
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}