{% extends 'base.html' %}

{% block header %}
    <h2>
        <div class="topnav" id="topnav">  
            <a href="{{ url_for('blog.index') }}">Home</a>
            <a href="{{ url_for('board.main_board') }}">Main Board</a>
            {% if g.user %}
            <a href="{{ url_for('blog.create') }}">New Ticket</a>
            {% endif %}
        </div>
    </h2>
{% endblock %}

{% block content %}
    <br>
    <h3>{{ post['title'] }}</h3>
    <br>
    <p>
        <label for="task_status">
        <span>Task Status: {{ request.form['task_status'] or post['task_status'] }}</span>
        </label>
    </p>
    <br>
    <p>
        <label for="author_id">
        <span>Issued by: {{ request.form['username'] or post['username'] }}</span>
        </label>
    </p>
    <br>
    <p>
        <label for="assignee">
        <span>Assigned to: {{ request.form['assignee'] or post['assignee'] }}</span>
        </label>
    </p>
    <br>
    <p>
        <label for="body">
        <span>Task Description: </span>
        </label>
        <br>
        <p>{{ request.form['body'] or post['body'] }}</p>
    </p>
    <br>
    {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
    {% endif %}
    
{% endblock %}