<!doctype html>
<!-- All other files extend from this one, the top bar that doesn't change-->
<title>{% block title %}{% endblock %} - KanbanFlask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>

  <!-- pulls in user's current page address, if on post modification, warn user if they're leaving the page-->
  <h1><a href="/" {% if request.url_rule.endpoint == 'blog.create' or request.url_rule.endpoint == 'blog.update' %} onclick="return confirm('Are you sure? This will delete any changes.')" {% endif %}>Chrecci & Co. Kanban Board</a></h1>
  <ul>
    {% if g.user %}
      <div class="dropdown">
        <button>{{ g.user['username'] }}</button>
        <div class="dropdown-content">
          <a href="{{ url_for('board.user_board') }}" {% if request.url_rule.endpoint == 'blog.create' or request.url_rule.endpoint == 'blog.update' %} onclick="return confirm('Are you sure? This will delete any changes.')" {% endif %}>Your Board</a>
          <a href="{{ url_for('auth.logout') }}" onclick="return confirm('Are you sure? This will end your session.')">Log Out</a>
        </div>
      </div>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>